body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
html, body {
  height: 100%;
  background-color: #333;
  color: white;
}
.logo{
  max-width: 300px;
}
.carousel {
  margin-bottom: 4rem;
  text-align: center;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item .darkener{
  background: rgba(0,0,0,0.5) !important;
  content: "";
  width: 100%;
  height: 100%;
}
.btn-primary{
  background: transparent;
  color: white;
  border-color: white;
}
.btn-primary:hover{
  background: #6bc9ce;
  color: white;
  border-color: white;
}
.carousel .btn-primary{
  background: transparent;
  color: white;
  border-color: white;
}
.carousel .btn-primary:hover{
  background: #6bc9ce;
  color: black;
  border-color: black;
}
img{
  max-width: 100%;
}
a i{
  margin-right: 5px;
}
.card{
  background: #6bc9ce;
  color: white;
}
.card .btn{
  text-decoration: none;
  background: #6bc9ce;
  border-color: white;
}
.card .btn:hover{
  text-decoration: none;
  background: #90ebf0;
  color: white;
  border-color: white;
}
.card .text-muted{
  color: white !important;
}
.card a{
  text-decoration: underline;
  color: white;
}
.card i{
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.text-align-left{
  text-align: left;
}
.page-top{
  padding-top: 150px;
}
.membership-flow{
  text-align: center;
}
main{
  padding-bottom: 150px;
}
footer{
  z-index: 100;
  width: 100%;
  background: #343a40;
  position: fixed;
  bottom: 0px;
  padding: 5px 0 !important;
}
footer a {
  text-decoration: underline;
  color: white;
}
footer a:hover{
  color: white;
}
footer p{
  margin: 0;
}
.featurette div{
  vertical-align: top;
}
.membership-flow a{
  color: white;
}
.membership-flow a:hover{
  color: white;
  text-decoration: none;
}
.membership-flow .big-icon{
  border: 1px solid white;
  border-radius: 25px;
  color: #6bc9ce;
  font-size: 90px;
  margin: 0 auto 20px auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 10px 10px 10px 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.membership-flow .big-icon:hover{
  color: #ccc;
  background:white;
}
.fine-print{
  font-size: 13px;
}


img{
  margin: 10px 0;
}
