html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #222222;
  color: white;
}

h1 {
  text-align: center;
}
.container{
  width:30%;
  margin: auto;
  position:relative;
  top:80px;
}

canvas {
  display: block;
  margin: 0 auto; 
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}